<footer>
  <p mt-8 text-xs op-30>
      No-Ads Version - Contact me:
  </p>
<p mt-8 text-xs op-30>
Email: <a href="mailto:admin@fxcku.link" style="font-weight: bold; color: blue;">Jenny</a>
</p>
<p mt-8 text-xs op-30>
Discord: @kjenny
</p>
<p mt-8 text-xs op-30>© Jenny the 小可爱不吃糖糖</p>
</footer>
